.background {
    position: relative; /* Ensure proper positioning */
    background-image: url('img/life5.png'); /* Replace with your image URL */

    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */

    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media (max-width: 1024px) {
    .background {
        background-image: url('img/life5.png'); /* Replace with your tablet image URL */
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}

@media (max-width: 767px) {
    .background-container {
        background-image: url('img/life6.png'); /* Replace with your mobile image URL */

        background-position: top center;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}

.content.px-4 {
    padding: 0px;
}

/* Basic container styling */
.back-container {
    width: 100%; /* Full width */
    max-width: 1200px; /* Maximum width to keep content centered */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Padding inside the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
